{{extend 'layout.html'}}

{{block head}}

<div class="main_content">
    <div class="container">
        <div class="half">
            <div class="padded">
                <img src="{{=URL('static', 'images/Slug.png')}}">
            </div>
        </div>
        <div class="half">
            <div class="padded">
                <div class="center">
                    <font color="yellow"><h2>ABOUT</h2></font>
                </div>
                <p>
                <font color="white">
                    Feelin' <i>lazy</i> and <font color="yellow"><i>sluggish</i></font>?
                    Finding it difficult to keep up with so many assignments?
                    Use <font color="yellow">Sluggish</font>! :D
                    The one site that will help you and your UCSC needs.
                    <font color="yellow">Sluggish</font> allows you to be organized with
                    your classes. Add assignments for each class and set statuses for them.
                    <font color="yellow">Sluggish</font> lets you know when an assignment
                    is due soon in its notification page. With <font color="yellow">Sluggish</font>
                    you will never miss a due date again!
                </font>
                </p>
            </div>
        </div>
    </div>
</div>