{{extend 'layout.html'}}

{{block head}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
        <div class="center padded">
            <img src="{{=URL('static', 'images/Sluggish.png')}}">
        </div>
        <div class="center">
            <img src="{{=URL('static', 'images/Slug.png')}}">
        </div>

        {{if auth.user:}}
            <div class="center">
                <h3>Welcome, {{=auth.user.first_name}}!</h3>
            </div>
            <div class="center">
                <!--{{=A('Class Page', _href=URL('default','classpage'), _class="btn btn-success")}}-->
                <a href={{=URL('default','classpage')}} class="btn large navy rounded"><tt>Student Home</tt></a>
            </div>

        {{else:}}
            <div class="center">
                <a href={{=URL('default','user/login')}} class="btn large gray rounded"><tt>Login</tt></a>
                <a href={{=URL('default','user/register')}} class="btn large gray rounded"><tt>Sign Up</tt></a>
            </div>
        {{pass}}

    </div>
</div>