{{extend 'layout.html'}}

{{block head}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
        <div class="container navy fill">
            <div class="quarter">
                <div class="padded">
                    <div>
                        <a href={{=URL('default','student')}} style="color:white"><h4><i class="fa fa-home"></i> Student Home</h4></a>
                        <span class="help-block"></span>
                    </div>
                    
                    <div v-if="please_reload" style="color:yellow">
                        {{=icon_warning}} Please refresh
                    </div>
                    
                    <div v-for="post in posts">
                        <span v-if="post.user_email == '{{=auth.user.email}}'">
                            <span v-if="assignment_notify(post)" style="color:red">
                                <span v-for="course in courses">
                                    <span v-if="course.content == post.course_from">
                                        <b>{{=icon_warning}}${post.content}!</b>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </div>
                    
                    <div v-if="is_adding_course" id="add-new-course">
                        <textarea class="form-control string" id="no_table_content" placeholder="Course Title" type="text" v-model="course_content"></textarea>
                        <span class="help-block"></span>
                        <button class="btn white btn-sm course-button" v-on:click="add_course()">
                            {{=icon_add}} Add
                        </button>
                        <button v-if="is_adding_course" class="btn white" v-on:click="add_course_button()">
                            {{=icon_cancel}} Cancel</button>
                    </div>
                    <button v-if="!is_adding_course" class="btn white" v-on:click="add_course_button()" v-bind:class="{'disabled': !logged_in}">
                        {{=icon_add}} Add Class</button>

                    <div v-for="course in courses">
                            <div v-if="course.user_email == '{{=auth.user.email}}'">
                                <!--http://stackoverflow.com/questions/8809909/change-cursor-to-finger-pointer-->
                                <p v-on:click="choose_class_button(course.content)" onmouseover="" style="cursor: pointer;">
                                ${course.content}
                                </p>
                            </div>
                    </div>
                </div>
            </div>
             <div class="threequarters white">
                <div class="padded">
                    <h2>
                        ${course_from}
                    </h2>
                    <div class="button_bar" v-if="course_from">
                        <button v-if="!is_adding_post" class="btn btn-danger btn-sm" v-on:click="add_post_button()" v-bind:class="{'disabled': !logged_in}">
                            {{=icon_add}} Add Assignment
                        </button>

                        <span v-for="course in courses">
                            <span v-if="course.content == course_from">
                                <button v-if="!is_adding_post" class="btn btn-danger btn-sm" v-on:click="delete_class(course.id)" v-bind:class="{'disabled': !logged_in}">
                                    {{=icon_delete}} Delete Class
                                </button>
                            </span>
                        </span>
                    </div>

                    <div v-if="is_adding_post" id="add-new-post">
                        <div>
                            <textarea class="form-control string" id="no_table_content" v-model="form_content" placeholder="Content" type="text" ></textarea>
                            <span class="help-block"></span>
                        </div>
                        <div>
                        <!--<select v-model="selected">
                            <option>Done</option>
                            <option>Working</option>
                            <option>Not Done</option>
                        </select>-->
                        <form>
                            <input type="date" id="date_input" v-model="form_duedate">
                        </form>

                        <input type="radio" id="done" value="Done" v-model="selected">
                        <label for="done">Done</label>
                        <input type="radio" id="working" value="Working" v-model="selected">
                        <label for="working">Working</label>
                        <input type="radio" id="notdone" value="Not Done" v-model="selected">
                        <label for="notdone">Not Done</label>
                        </div>

                        <br>
                        <div>
                            <button class="btn btn-primary btn-sm post-button" v-on:click="add_post()">
                            {{=icon_add}} Post
                            </button>
                            <button v-if="is_adding_post" class="btn btn-warning btn-sm" v-on:click="add_post_button()">
                            {{=icon_cancel}} Cancel
                            </button>
                        </div>
                    </div>


            <div class="result_table">



                <div v-for="post in posts">

                    <!-- Create the div for each post -->
                    <span v-if="post.user_email == '{{=auth.user.email}}'">
                    <div class="post text-left post-content" v-if="post.course_from == course_from">
                        <!--<p>First name: ${post.first_name}</p>-->
                        <!--<p>Last name: ${post.last_name}</p>-->
                        <div v-if="editing && edit_id==post.id">

                        <!-- Content that is being edited for a post -->
                        <div class="form-group" id="no_table_content__row">
                            <div>
                                <textarea class="form-control string" id="no_table_content" v-model="edit_content = post.content" placeholder="Content" type="text" ></textarea>
                                <span class="help-block"></span>
                            </div>
                            <form>
                                <input type="date" id="date_input" v-model="edit_duedate = post.duedate">
                            </form>
                            <input type="radio" id="done" value="Done" v-model="edit_selected = post.selected">
                            <label for="done">Done</label>
                            <input type="radio" id="working" value="Working" v-model="edit_selected = post.selected">
                            <label for="working">Working</label>
                            <input type="radio" id="notdone" value="Not Done" v-model="edit_selected = post.selected">
                            <label for="notdone">Not Done</label>

                        </div>


                            <!-- The post and cancel buttond for editing a post -->
                            <div class="form-group row edit-buttons" id="submit_record__row">
                                <span class="col-md-6">
                                    <button v-if="editing" class="btn btn-primary btn-sm post-edit-button" v-on:click="edit_post_submit()" type="submit">
                                       {{=icon_add}} Post
                                    </button>
                                </span>
                                <span>
                                    <button v-if="editing" class="btn btn-warning btn-sm cancel-button" v-on:click="cancel_edit()" type="button">
                                        {{=icon_cancel}} Cancel
                                    </button>
                                </span>

                            </div>


                            </div>
                            <div v-if="!editing || (editing && edit_id != post.id)">
                                <p><b>${post.content}</b></p>
                            </div>

                            <!--<p>${post.created_on}</p>-->
                            <!--<p>${post.updated_on}</p>-->

                            <!-- if it is your post show the editing icons -->
                                <!--{{if auth.user:}}
                                <div v-if="post.user_email == '{{=auth.user.email}}'">-->
                                <span v-if="!editing || (editing && edit_id != post.id)">
                                ${post.duedate}
                                ${post.selected}

                                    <i class="fa fa-pencil" v-on:click="edit_post(post.id)"></i>
                                    <i class="fa fa-trash-o" v-on:click="delete_track(post.id)"></i>
                                </span>
                                <!--</div>-->
                                {{pass}}
                            </div>
                        </div>


                        <div v-if="has_more" class="show_more">
                            <button id="load-more" class="btn btn-default" v-on:click="get_more()">Load more</button>
                        </div>
                    </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var homepage_url = "{{=URL('default', 'index')}}";
    var classpage_url = "{{=URL('default', 'classpage')}}";
    var posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var courses_url = "{{=URL('api', 'get_courses')}}";
    var add_course_url = "{{=URL('api', 'add_course', user_signature=True)}}";
    var del_class_url = "{{=URL('api', 'del_class', user_signature=True)}}";
</script>
{{end}}

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
